<template>
  <!-- This view was designed for the document upload and includes a form with several input fields and a file chooser
at the end of the form. When the user presses the upload button, the file is together with the metadata to the server
and the document gets uploaded. -->
  <history-back-component :content="'Document Overview'" />
  <div id="uploadView">
    <form @submit.prevent="handleSubmitForm">
      <header class="py-5 background">
        <span id="headerTitle"> Document Upload </span>
        <div id="buttonContainer">
          <button class="btn btn-outline-success btn-block" type="submit">
            Upload Document
          </button>
        </div>
      </header>
      <div id="uploadForm">
        <div class="form-group uploadInput">
          <label for="title">Title of the document*</label>
          <input
            type="text"
            class="form-control"
            id="titleInput"
            aria-describedby="emailHelp"
            placeholder="Title"
            v-model="document.title"
            required
          />
        </div>
        <div class="form-row row">
          <div class="form-group col-md-6 uploadInput">
            <label for="author">Author</label>
            <input
              type="text"
              class="form-control"
              id="author"
              placeholder="Enter full name of the author"
              v-model="document.author"
            />
          </div>
          <div class="form-group col-md-6 uploadInput">
            <label for="year">Publication year</label>
            <input
              type="number"
              class="form-control"
              id="year"
              placeholder="Enter publication year"
              v-model="document.year"
            />
          </div>
        </div>
        <div class="form-row row">
          <div class="form-group col-md-6 uploadInput">
            <label for="title">University</label>
            <input
              type="text"
              class="form-control"
              id="titleInput"
              aria-describedby="emailHelp"
              placeholder="Enter the author's university"
              v-model="document.university"
            />
          </div>
          <div class="form-group col-md-6 uploadInput" id="assign">
            <label for="title">Check university</label>
            <div>
              <a class="link-primary" @click="assignUniversity"
                >Assign my university</a
              >
            </div>
          </div>
        </div>
        <div class="form-group uploadInput">
          <label for="author">Keywords*</label>
          <tag-edit-component
            @addTag="addKeyword($event, 'keyword')"
            @removeTag="removeKeyword($event, 'keyword')"
          />
          <small v-html="missingKeywords" class="form-text text-danger"></small>
        </div>
        <div class="form-group uploadInput">
          <label for="prerequisites">Prerequisites</label>
          <tag-edit-component
            @addTag="addKeyword($event, 'prerequisite')"
            @removeTag="removeKeyword($event, 'prerequisite')"
            :text="'Add prerequisites...'"
          />
        </div>
        <div class="form-row row">
          <div class="form-group col-md-6 uploadInput">
            <label for="exampleFormControlSelect1">Difficulty</label>
            <select
              class="form-control"
              id="exampleFormControlSelect1"
              v-model="document.difficulty"
            >
              <option>Beginner</option>
              <option>Intermediate</option>
              <option>Expert</option>
            </select>
          </div>
          <div class="form-group col-md-6 uploadInput">
            <label for="year">Estimated duration</label>
            <select
              class="form-control"
              id="exampleFormControlSelect1"
              v-model="document.duration"
            >
              <option>less than 0.5 hours</option>
              <option>0.5 - 1 hour</option>
              <option>1 - 2 hours</option>
              <option>2 - 4 hours</option>
              <option>more than 4 hours</option>
            </select>
          </div>
        </div>
        <div class="form-group uploadInput">
          <label for="exampleFormControlTextarea1"
            >Description (max 255 characters)</label
          >
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="2"
            maxlength="255"
            v-model="document.description"
          ></textarea>
        </div>
        <div class="form-group uploadInput">
          <label for="exampleFormControlFile1">Add file*</label>
          <input
            type="file"
            class="form-control-file form-control"
            id="exampleFormControlFile1"
            ref="file"
            v-on:change="handleUpload()"
            required
          />
        </div>
        <small class="form-text text-info"
          >Information: Your action will be tracked. Do not upload inappropriate
          content.</small
        >
      </div>
    </form>
  </div>
</template>

<script>
import axios from "axios";
import TagEditComponent from "../../../components/workflows/TagEditComponent.vue";
import HistoryBackComponent from "../../../components/workflows/HistoryBackComponent.vue";

export default {
  name: "DocumentUpload",
  components: {
    TagEditComponent,
    HistoryBackComponent,
  },
  setup() {
    const document = {
      title: "",
      author: "",
      year: "",
      university: "",
      keywords: [],
      prerequisites: [],
      difficulty: "Intermediate",
      duration: "1 - 2 hours",
      description: "",
    };

    const missingKeywords = "";
    const file = "";
    const tagSearch = "";
    const existingTags = [];
    const existingTagsKey = [];
    return {
      document,
      file,
      tagSearch,
      existingTags,
      existingTagsKey,
      missingKeywords,
    };
  },

  methods: {
    handleUpload() {
      this.file = this.$refs.file.files[0];
    },
    handleSubmitForm() {
      if (this.document.keywords.length === 0) {
        this.missingKeywords = "Keywords are required!";
        confirm(this.missingKeywords);
        return;
      }
      let fileURL = window.serverUrl + "/api/document/upload-file";
      let formData = new FormData();
      const data = JSON.stringify(this.document);
      formData.append("metadata", data);
      formData.append("file", this.file);

      axios
        .post(fileURL, formData)
        .then(() => {
          this.$router.push("/documents");
        })
        .catch((error) => {
          console.log(error);
        });
    },
    addKeyword(value, type) {
      this.defineArray(type).push(value);
    },
    removeKeyword(value, type) {
      var array = this.defineArray(type);
      var index = array.indexOf(value);
      if (index !== -1) {
        array.splice(index, 1);
      }
    },
    defineArray(type) {
      var array = [];
      if (type === "keyword") {
        array = this.document.keywords;
      } else if (type === "prerequisite") {
        array = this.document.prerequisites;
      }
      return array;
    },
    assignUniversity() {
      const token = sessionStorage.getItem("user");
      if (token !== null) {
        var parsed = JSON.parse(token);
        this.document.university = parsed.settings.university;
        this.$forceUpdate();
      }
    },
  },
};
</script>

<style scoped>
#title {
  font-family: "Times New Roman", Times, serif;
  font-size: xx-large;
}
.row {
  display: flex;
}

.documentOverview {
  float: left;
  margin: 0px;
  width: 95%;
}

#documentHeader {
  float: left;
  margin-left: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
  display: flex;
}

#createButton {
  margin-left: 30px;
  height: 40px;
}

/* #uploadForm {
  width: 60%;
  margin: auto;
} */

.uploadInput {
  margin-top: 1%;
}

#uploadView {
  margin-bottom: 3%;
}

</style>
