<template>
<!-- The entry point for the document module and provides a search bar to look for documents in the database. -->
  <header class="py-5 background">
    <span id="headerTitle"> Documents </span>
    <div id="buttonContainer">
      <router-link to="/documents/upload">
        <button class="btn btn-outline-success btn-block">
          Upload New Document
        </button>
      </router-link>
    </div>
  </header>
  <form @submit.prevent="handleSubmitForm">
    <div id="uploadForm">
      <div class="input-group">
        <input
          type="search"
          class="form-control rounded"
          placeholder="Search for documents..."
          aria-label="Search"
          aria-describedby="search-addon"
          v-model="search.query"
        />
        <button type="button" class="btn btn-outline-danger" @click="clear">
          clear
        </button>
        <button type="submit" class="btn btn-outline-primary">search</button>
      </div>
      <!-- show the search result with a simple result message -->
      <small v-html="result" class="form-text text-muted"></small>

      <!-- Show each document of the result in an own DocumentComponent -->
      <document-component
        v-for="document in documents"
        :key="document._id"
        :document="document"
        id="documents"
      />
    </div>
  </form>
</template>

<script>
import axios from "axios";
import DocumentComponent from "../../../components/workflows/document/DocumentComponent.vue";

export default {
  components: { DocumentComponent },
  name: "DocumentOverview",
  setup() {
    const search = {
      query: "",
    };

    const result = "";

    return {
      search,
      documents: [],
      result,
    };
  },

  methods: {
    handleSubmitForm() {
      let apiURL = window.serverUrl + "/api/document/search";
      axios
        .post(apiURL, this.search)
        .then((res) => {
          this.documents = res.data;
          //define the result text
          this.result =
            "Search performed with query '" +
            this.search.query +
            "' and returned " +
            this.documents.length +
            " results.";
          this.$forceUpdate();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    clear() {
      this.documents = [];
      this.search.query = "";
      this.result = "";
      this.$forceUpdate();
    },
  },
};
</script>

<style scoped>
#title {
  font-family: "Times New Roman", Times, serif;
  font-size: xx-large;
}

.documentOverview {
  float: left;
  margin: 0px;
  width: 95%;
}

#documentHeader {
  float: left;
  margin-left: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
  display: flex;
}

#createButton {
  margin-left: 30px;
}

.row {
  display: flex;
}

.documentOverview {
  float: left;
  margin: 0px;
  width: 95%;
}

#documentHeader {
  float: left;
  margin-left: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
  display: flex;
}

.uploadInput {
  margin-top: 1%;
}
</style>
