<template>
<!-- This view was designed for a more detailed document view. This includes the display of supported document file
types. Furhtermore a document detail description view was added here together with the proposed discussion board. -->
  <history-back-component :fixed="false" />
  <div id="viewerContainer">
    <!-- Either show the supported file or show the error message. -->
    <embed :src="url" id="pdfViewer" v-if="showFile" />
    <span
      id="pdfViewer"
      class="text-danger border d-flex justify-content-center h3"
      v-if="!showFile"
      >The file type of this document is not supported. Please download it and
      view it on your PC.</span
    >
    <!-- Show document description together with the discussion board -->
    <div id="discussionContainers">
            <document-description-component :document="document" />
      <discussion-board :identifier="documentId" :isCourse="false" />
    </div>
    <div>
    </div>
    <div></div>
  </div>

</template>
    
<script>
import { computed } from "vue";
import { useRoute } from "vue-router";
import axios from "axios";
import DiscussionBoard from "../../../components/workflows/document/discussionBoard/DiscussionBoard.vue";
import HistoryBackComponent from "../../../components/workflows/HistoryBackComponent.vue";
import DocumentDescriptionComponent from "../../../components/workflows/document/DocumentDescriptionComponent.vue";

export default {
  components: {
    DiscussionBoard,
    HistoryBackComponent,
    DocumentDescriptionComponent,
  },
  name: "ViewFile",

  setup() {
    const route = useRoute();
    const documentId = computed(() => route.params.documentId);

    return {
      documentId,
      document,
      url: "",
      showFile: {
        type: Boolean,
        default: true,
      },
    };
  },
  methods: {
    getDocument() {
      axios({
        url:
          window.serverUrl + "/api/document/download?query=" + this.documentId,
        method: "GET",
        responseType: "blob",
      }).then((response) => {
        var fileURL = window.URL.createObjectURL(new Blob([response.data]));
        this.url = fileURL;
        /*
        After the file is received => update the view.
        */
        this.$forceUpdate();
      });
    },
    getDocumentData() {
      let apiURL =
        window.serverUrl + "/api/document/get?query=" + this.documentId;
      axios
        .get(apiURL)
        .then((res) => {
          this.document = res.data;
          if (res.data.fileType === "") {
            this.showFile = false;
            this.$forceUpdate();
            return;
          }
          var type = this.document.fileType.toLowerCase();
          if (
            type === "pdf" ||
            type === "txt" ||
            type === "png" ||
            type === "jpeg"
          ) {
            this.getDocument();
          } else {
            this.showFile = false;
            this.$forceUpdate();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  /*
  When the component is created, directyl make the getDocumentData() call which retrieves the metadata of the 
  document. When the metadata is successfully received and the file type is supported the actual file is requested
  to be shown in this view. Therfore first the basic component is rendered, followed by the document description and
  discussion board and as the last step the actual document is retrieved.
  */
  created: function () {
    this.getDocumentData();
  },
};
</script>

<style scoped>
#pdfViewer {
  margin-top: 0%;
  margin-left: 1%;
  width: 80%;
  height: 90vh;
}

#viewerContainer {
  display: flex;
}

#discussionContainers {
  width: 20%;
  margin: 1%;
  
}

#createQuestion {
  margin-bottom: 4%;
  margin-top: 2%;
}

#discussions {
  overflow-y: scroll;
  max-height: 80vh;
}
</style>
