<template>
  <!-- This component is designed to show the metadata of a document in more detail. -->
  <div class="form-group uploadInput" v-if="isEditAllowed()">
    <button @click="deleteWholeDocument()" class="btn-sm btn-danger btn-edit length">
      Delete document
    </button>
    <form @submit.prevent="exchangeDocument">
      <button class="btn-sm btn-edit btn-primary length" id="exchangeButton" type="submit">
        Exchange document
      </button>
    </form>

    <input
      type="file"
      class="form-control-file form-control"
      id="exampleFormControlFile1"
      ref="file"
      v-on:change="handleUpload()"
    />
  </div>
  <div id="documentDescription" class="card">
    <div class="element">
      Title: <span class="value">{{ document.title }}</span>
    </div>
    <div class="element">Author: {{ document.author }}</div>
    <div class="element">Year: {{ document.year }}</div>
    <div class="element">File type: {{ document.fileType }}</div>
    <div class="element">Keywords: {{ document.keywords }}</div>
    <div class="element">Prerequisites: {{ document.prerequisites }}</div>
    <div class="element">Description: {{ document.description }}</div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "DocumentDescriptionComponent",
  props: {
    document: Object,
  },
  setup() {
    const file = "";

    return {
      file,
    };
  },
  methods: {
    exchangeDocument() {
      if (this.file !== "") {
        let fileURL =
          window.serverUrl + "/api/document/exchange-file/" + this.document._id;
        let formData = new FormData();
        const data = JSON.stringify(this.document);
        formData.append("metadata", data);
        formData.append("file", this.file);
        axios
          .put(fileURL, formData)
          .then(() => {
            this.$router.go(0);
          })
      }
    },
    handleUpload() {
      this.file = this.$refs.file.files[0];
    },
    isEditAllowed() {
      const token = sessionStorage.getItem("user");
      if (token !== null) {
        var parsed = JSON.parse(token);
        var username = parsed.username;
        var role = parsed.roles[0];
        if (username === this.document.uploader || role === "admin") {
          return true;
        }
      }
      return false;
    },
    deleteWholeDocument() {
    if (confirm("Do you really want to delete this document?")) {
      let apiURL =
        window.serverUrl +
        "/api/document/delete-document?documentId=" +
        this.document._id;
      axios
        .delete(apiURL)
        .then(() => {
          this.$router.push("/documents");
        })
        .catch((error) => {
          console.log(error);
        });
    }
  },
  },
  
};
</script>

<style scoped>
#documentDescription {
  margin: 0.5%;
  padding-top: 1%;
}

.element {
  margin-bottom: 1%;
}

.length {
  width: 10rem;
}

#exchangeButton {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;

}
</style>

