<template>
  <!-- Overview component for a document and shows the most important fields of a document. -->
  <div>
    <div id="card">
      <div class="card">
        <sup><span class="badge badge-success"> <div
          class="btn-toolbar"
          role="toolbar"
          aria-label="Toolbar with button groups"
        >
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <router-link
            :to="{ name: 'viewFile', params: { documentId: document._id } }"
            class="nav_link"
          >
            <button type="button" class="btn-sm btn-primary">View</button>
          </router-link>
            <button
            @click="downloadFile()"
            type="button"
            class="btn-sm btn-primary"
            id="deleteButton"
          >
            Download
          </button>
          <button
            v-if="searchToAdd"
            type="button"
            class="btn-sm btn-success"
            id="deleteButton"
            @click="addDocument(document)"
          >
            Add
          </button>
          <button
            v-if="edit"
            type="button"
            class="btn-sm btn-danger"
            id="deleteButton"
            @click="deleteDocument(document)"
          >
            Remove
          </button>
          </div>
        </div></span></sup>
        <sup
          ><span class="badge badge-type">{{ document.fileType }}</span></sup
        >
       
        <article id="documentCard">
          <div id="header">
            <div>
              <font-awesome-icon icon="file-pdf" size="3x" />
            </div>
            <div id="titleAuthor">
              <span id="title">
                <div v-if="document.title.length < 35">
                  {{ document.title }}
                </div>
                <div v-else>{{ document.title.substring(0, 35) + ".." }}</div>
                <!-- {{ document.title }} -->
              </span>
              <div id="authorYear">
                {{ document.author }} - {{ document.year }}
              </div>
              <div id="authorYear">
                {{ document.university }}
              </div>
            </div>
            <div id="tags">
              <div id="keywords">
                <keyword-tag-component
                  v-for="keyword in document.keywords"
                  :content="keyword"
                  :key="keyword"
                />
              </div>
              <div id="requirements">
                <requirement-tag-component
                  v-for="prerequisite in document.prerequisites"
                  :content="prerequisite"
                  :key="prerequisite"
                />
              </div>
            </div>
          </div>          
          
          <!-- <span id="description">
            <span>{{ document.description }}</span>
          </span> -->
        </article>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import KeywordTagComponent from "../KeywordTagComponent.vue";
import RequirementTagComponent from "../RequirementTagComponent.vue";

export default {
  components: { KeywordTagComponent, RequirementTagComponent },
  name: "DocumentComponent",
  props: {
    document: {
      _id: String,
      title: String,
      author: String,
      university: String,
      year: String,
      description: String,
      keywords: String,
      fileType: String,
    },

    edit: {
      type: Boolean,
      default: false,
    },
    searchToAdd: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    requirements() {
      if (this.document.prerequisites.length > 0) {
        return this.document.prerequisites;
      }
      return [];
    },
  },
  methods: {
    downloadFile() {
      axios({
        url:
          window.serverUrl +
          "/api/document/download?query=" +
          this.document._id,
        method: "GET",
        responseType: "blob",
      }).then((response) => {
        var fileURL = window.URL.createObjectURL(new Blob([response.data]));
        var fileLink = document.createElement("a");
        fileLink.href = fileURL;
        //retrieve the file, transform to a link and set download attribute
        fileLink.setAttribute(
          "download",
          this.document.title + "." + this.document.fileType
        );
        document.body.appendChild(fileLink);

        fileLink.click();
      });
    },

    //if add or delete is showed, pass information to parent component
    addDocument(document) {
      this.$emit("add", document);
    },
    deleteDocument(document) {
      this.$emit("delete", document);
    },
  },
};
</script>

<style scoped>
#keywords {
  margin-left: 5px;
}
#titleAuthor {
  margin-left: 1.5%;
}
#header {
  display: flex;
}

.nav_link {
  text-decoration: none;
}

#title {
  font-weight: bold;
  font-size: large;
  white-space: nowrap;
  overflow: hidden;
}

#description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 1%;
}

#documentCard {

  display: inline;
  text-align: left;
  margin: 3%;
}

#authorYear {
  font-size: small;
  color: grey;
}

#card {
  margin-top: 1%;
}

#deleteButton {
  margin-left: 1%;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.includer {
  position: relative;
}

.badge.badge-success {
  /* background-color: #4487d4ad;
  border-radius: 5px; */
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: medium;
  margin: 0px;
}

.badge-type {
  background-color: #4487d4ad;
  border-radius: 5px;
  position: absolute;
  top: 6px;
  left: 0px;
  font-size: medium;
}

#requirements {
  margin-top: 2%;
  margin-left: 5px;
}

#nomargin {
  padding: 0px;
  margin: 0px;
  margin-left: 1%;
}
</style>
