<template>
  <!-- This is the main view for the course and includes the learning assets as the 
core of this view together with a course description view and a discussion board.
Furthermore there is another mode, which can be accessed by the author or administrator with the "edit" button.
This changes the edit flag and transforms the description field into a list of input fields and the assets are 
expanded by a remove button. Additionally a search bar is added, which shows learning assets expanded with an 
add button to add the item to the course. -->
  <history-back-component />
  <header class="py-5 background">
    <span id="headerTitle"> {{ course.title }} </span>
    <div id="buttonContainer">
      <button
        @click="inverseEdit()"
        class="btn btn-outline-success btn-block"
        v-if="showEdit"
      >
        Edit Course
      </button>
      <button
        @click="showPropose()"
        class="btn btn-outline-primary btn-block"
        v-if="edit"
      >
        Propose Individualized Content
      </button>
      <button
        @click="updateCourse()"
        class="btn btn-outline-primary btn-block"
        id="margin"
        v-if="edit"
      >
        Update Course
      </button>
      <button
        @click="deleteWholeCourse()"
        class="btn btn-outline-danger btn-block"
        id="margin"
        v-if="edit"
      >
        Delete Course
      </button>
    </div>
  </header>
  <div v-if="edit">
    <div id="uploadForm">
      <form @submit.prevent="searchDocuments" v-if="!propose">
        <div class="input-group">
          <input
            type="search"
            class="form-control rounded"
            placeholder="Search for documents..."
            aria-label="Search"
            aria-describedby="search-addon"
            v-model="search.query"
          />
          <button type="button" class="btn btn-outline-danger" @click="clear">
            clear
          </button>
          <button type="submit" class="btn btn-outline-primary">search</button>
        </div>
      </form>
      <form @submit.prevent="proposeContent" v-if="propose">
        <div class="input-group">
          <tag-edit-component
            @addTag="addProposeKeyword"
            @removeTag="removeProposeKeyword"
            :onlyExisting="true"
            class="form-control proposeKeywords"
          />
          <button type="button" class="btn btn-outline-danger" @click="clear">
            clear
          </button>
          <button type="submit" class="btn btn-outline-primary">propose</button>
        </div>
      </form>

      <small v-html="result" class="form-text text-muted"></small>

      <div class="lead description" v-if="documentsAdd.courses">Courses</div>

      <asset-overview-component
        v-for="document in documentsAdd.courses"
        :key="document._id"
        :asset="document"
        :searchToAdd="true"
        @add="addCourse"
      />

      <div class="lead description" v-if="documentsAdd.documents">
        Documents
      </div>

      <asset-overview-component
        v-for="document in documentsAdd.documents"
        :key="document._id"
        :asset="document"
        :searchToAdd="true"
        @add="addDocument"
      />
    </div>
    <hr />
  </div>

  <div>
    <div id="parentView">
      <course-description-component :course="course" v-if="edit == false" />
      <div class="form-row row" id="courseDescription" v-if="edit">
        <div class="form-group uploadInput">
          <label for="author">Title</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter title of the course"
            v-model="course.title"
          />
        </div>
        <div class="form-group uploadInput">
          <label for="year">Publication year</label>
          <input
            type="number"
            class="form-control"
            id="year"
            placeholder="Enter publication year"
            v-model="course.year"
          />
        </div>
        <div class="form-group uploadInput" v-if="showKeywords">
          <label for="author">Keywords</label>
          <!-- The add and removeKeyword() method is used to define the logic when changing the tag input. -->
          <tag-edit-component
            @addTag="addKeyword($event, 'keyword')"
            @removeTag="removeKeyword($event, 'keyword')"
          />
        </div>
        <div class="form-group uploadInput" v-if="showPrerequisites">
          <label for="author">Prerequisites</label>
          <tag-edit-component
            :text="'Add prerequisites...'"
            @addTag="addKeyword($event, 'prerequisite')"
            @removeTag="removeKeyword($event, 'prerequisite')"
          />
        </div>
        <div class="form-group uploadInput">
          <label for="author">Language</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter language of the course"
            v-model="course.language"
          />
        </div>
        <div class="form-group uploadInput">
          <label for="author">Difficulty</label>
          <select
            class="form-control"
            id="exampleFormControlSelect1"
            v-model="course.difficulty"
          >
            <option>Beginner</option>
            <option>Intermediate</option>
            <option>Expert</option>
          </select>
        </div>
        <div class="form-group uploadInput">
          <label for="author">Duration</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter duration of the course"
            v-model="course.duration"
          />
        </div>
        <div class="form-group uploadInput">
          <label for="author">Description</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter description of the course"
            v-model="course.description"
          />
        </div>
      </div>

      <div id="mainView">
        <div class="input-group">
          <input
            type="search"
            class="form-control rounded"
            placeholder="Filter course content..."
            aria-label="Search"
            aria-describedby="search-addon"
            v-model="filterTerm"
          />
          <button type="button" class="btn btn-outline-danger" @click="clearFilter">
            clear
          </button>
          <button type="submit" class="btn btn-outline-primary" @click="filter">
            search
          </button>
        </div>
        <div
          class="lead description"
          v-if="course.chapters[0].courses.length > 0"
        >
          Courses
        </div>
        <asset-overview-component
          v-for="asset in showAssets.coursesShow"
          :key="asset._id"
          :asset="asset"
          :edit="edit"
          @delete="deleteCourse"
        />

        <div
          class="lead description"
          v-if="course.chapters[0].documents.length > 0"
        >
          Documents
        </div>
        <asset-overview-component
          v-for="asset in showAssets.documentsShow"
          :key="asset._id"
          :asset="asset"
          :edit="edit"
          @delete="deleteDocument"
        />
      </div>
      <div id="disc">
        <discussion-board :identifier="courseId1" :isCourse="true" />
      </div>
    </div>
  </div>
</template>

<script>
import { computed } from "vue";
import { useRoute } from "vue-router";
import { documents } from "../../../assets/documents";
import axios from "axios";
import AssetOverviewComponent from "../../../components/workflows/course/AssetOverviewComponent.vue";
import CourseDescriptionComponent from "../../../components/workflows/course/CourseDescriptionComponent.vue";
import TagEditComponent from "../../../components/workflows/TagEditComponent.vue";
import DiscussionBoard from "../../../components/workflows/document/discussionBoard/DiscussionBoard.vue";
import HistoryBackComponent from "../../../components/workflows/HistoryBackComponent.vue";

export default {
  components: {
    AssetOverviewComponent,
    CourseDescriptionComponent,
    TagEditComponent,
    DiscussionBoard,
    HistoryBackComponent,
  },
  name: "Course",
  setup() {
    const route = useRoute();
    const courseId1 = computed(() => route.params.courseId);
    const documentData = documents;
    const edit = false;

    const search = {
      query: "",
    };
    const result = "";
    const course = {
      title: "",
      author: null,
      keywords: null,
      prerequisites: null,
      goals: null,
      difficulty: null,
      duration: null,
      language: null,
      isCourse: true,
      description: null,
      chapters: [
        {
          name: "",
          documents: [],
          courses: [],
        },
      ],
    };
    const showAssets = [
      {
        documentsShow: [],
        coursesShow: [],
      },
    ];
    const showKeywords = true;
    const showPrerequisites = true;
    return {
      courseId1,
      course,
      documentData,
      edit,
      search,
      documentsAdd: [],
      result,
      showKeywords,
      showPrerequisites,
      showEdit: false,
      propose: false,
      proposeKeywords: [],
      filterTerm: "",
      showAssets,
    };
  },
  methods: {
    getCourse() {
      let apiURL =
        window.serverUrl + "/api/course/get-course?query=" + this.courseId1;
      axios
        .get(apiURL)
        .then((res) => {
          this.course = res.data;
          this.showAssets.documentsShow = this.course.chapters[0].documents;
          this.showAssets.coursesShow = this.course.chapters[0].courses;

          if (res.data.keywords.length > 0) {
            this.showKeywords = false;
          }
          if (res.data.prerequisites.length > 0) {
            this.showPrerequisites = false;
          }
          this.showEdit = this.isEditAllowed();

          this.$forceUpdate();
        })
        .catch((error) => {
          console.log(error);
        });
    },

    inverseEdit() {
      this.edit = !this.edit;
      this.showEdit = this.isEditAllowed();
      this.$forceUpdate();
    },
    searchDocuments() {
      let apiURL = window.serverUrl + "/api/asset/search";
      axios
        .post(apiURL, this.search)
        .then((res) => {
          this.documentsAdd = res.data;
          this.result =
            "Search performed with query '" +
            this.search.query +
            "' and returned " +
            (this.documentsAdd.courses.length +
              this.documentsAdd.documents.length) +
            " results.";
          this.$forceUpdate();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    addDocument(value) {
      this.course.chapters[0].documents =
        this.course.chapters[0].documents.concat([value]);
      this.showAssets.documentsShow = this.showAssets.documentsShow.concat([value]);
      this.$forceUpdate();
    },
    deleteDocument(value) {
      var index = this.course.chapters[0].documents.indexOf(value);
      if (index > -1) {
        this.course.chapters[0].documents.splice(index, 1);
        this.showAssets.documentsShow.splice(index, 1);
      }
      this.$forceUpdate();
    },
    addCourse(value) {
      this.course.chapters[0].courses = this.course.chapters[0].courses.concat([
        value,
      ]);
      this.showAssets.coursesShow = this.showAssets.coursesShow.concat([value]);
      this.$forceUpdate();
    },
    deleteCourse(value) {
      var index = this.course.chapters[0].courses.indexOf(value);
      if (index > -1) {
        this.course.chapters[0].courses.splice(index, 1);
        this.showAssets.coursesShow.splice(index, 1);

      }
      this.$forceUpdate();
    },
    //if the user presses the update button after changing values, the current course object will be set in the database.
    updateCourse() {
      this.inverseEdit();
      this.proposeKeywords = [];
      this.propose = false;
      this.documentsAdd = [];
      this.result = "";
      let apiURL =
        window.serverUrl + "/api/course/update-course/" + this.course._id;
      axios
        .post(apiURL, this.course)
        .then(() => {
          this.getCourse();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    updateDesc(value) {
      this.course = value;
    },
    addKeyword(value, type) {
      this.defineArray(type).push(value);
    },
    removeKeyword(value, type) {
      var array = this.defineArray(type);
      var index = array.indexOf(value);
      if (index !== -1) {
        array.splice(index, 1);
      }
    },
    defineArray(type) {
      var array = [];
      if (type === "keyword") {
        array = this.course.keywords;
      } else if (type === "prerequisite") {
        array = this.course.prerequisites;
      }
      return array;
    },
    isEditAllowed() {
      const token = sessionStorage.getItem("user");
      if (token !== null) {
        var parsed = JSON.parse(token);
        var username = parsed.username;
        var role = parsed.roles[0];
        if (
          (username === this.course.author || role === "admin") &&
          !this.edit
        ) {
          return true;
        }
      }
      return false;
    },
    showPropose() {
      this.propose = !this.propose;
      if (!this.propose) {
        this.proposeKeywords = [];
      }
      this.$forceUpdate();
    },
    addProposeKeyword(value) {
      this.proposeKeywords.push(value);
    },
    removeProposeKeyword(value) {
      var index = this.proposeKeywords.indexOf(value);
      if (index !== -1) {
        this.proposeKeywords.splice(index, 1);
      }
    },
    proposeContent() {
      let apiURL =
        window.serverUrl + "/api/course/propose?courseId=" + this.courseId1;
      axios
        .post(apiURL, this.proposeKeywords)
        .then((res) => {
          this.documentsAdd = res.data;
          this.result =
            "Individualized content provision performed and returned " +
            (this.documentsAdd.courses.length +
              this.documentsAdd.documents.length) +
            " results.";
          if (this.proposeKeywords.length === 0) {
            this.result =
              "Individualized content provision can not be performed without keywords.";
          }
          this.$forceUpdate();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    clear() {
      this.documentsAdd = [];
      this.search = "";
      this.result = "";
      this.$forceUpdate();
    },
    deleteWholeCourse() {
      if (confirm("Do you really want to delete the course?")) {
        let apiURL =
          window.serverUrl +
          "/api/course/delete-course?courseId=" +
          this.courseId1;
        axios
          .delete(apiURL)
          .then(() => {
            this.$router.push("/");
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
    filter() {
      if (this.filterTerm === "") {
        this.showAssets.coursesShow = this.course.chapters[0].courses;
        this.showAssets.documentsShow = this.course.chapters[0].documents;
        this.$forceUpdate();
        return;
      }
      this.showAssets.coursesShow = this.course.chapters[0].courses.filter(
        (event) =>
          event.title.toLowerCase().includes(this.filterTerm.toLowerCase())
        // event.tags.toLowerCase().values().includes(this.filterValue.toLowerCase())
      );
      this.showAssets.documentsShow =
        this.course.chapters[0].documents.filter(
          (event) =>
            event.title.toLowerCase().includes(this.filterTerm.toLowerCase())
          // event.tags.toLowerCase().values().includes(this.filterValue.toLowerCase())
        );
      this.$forceUpdate();
    },
    clearFilter() {
      this.filterTerm = "";
      this.showAssets.coursesShow = this.course.chapters[0].courses;
      this.showAssets.documentsShow = this.course.chapters[0].documents;
      this.$forceUpdate();
    }
  },
  //if the url gets changed, the matching course is retrieved or otherwise an error received and the user gets
  //redirected to the overview (specified in the main.js file)
  watch: {
    "$route.params.courseId": function (to) {
      if (typeof to !== "undefined") {
        this.edit = false;
        this.getCourse();
      }
    },
  },
  created: function () {
    this.getCourse();
  },
};
</script>


<style scoped>
@import "https://cdn.jsdelivr.net/npm/@voerro/vue-tagsinput@2.7.1/dist/style.css";

#title {
  font-family: "Times New Roman", Times, serif;
  font-size: xx-large;
}

#courseDescription {
  width: 20%;
  margin: 0.5%;
  margin-right: 1%;
  padding: 5px;
}

.description {
  margin-top: 2%;
}

#margin {
  margin-left: 1%;
}

.proposeKeywords {
  border: 0;
  padding: 0;
  margin: 0;
}

#disc {
  max-width: 20%;
  margin-left: 1%;
}
</style>
