<template>
  <!-- This view was defined for the course creation and only requires a title for the creation. -->
  <history-back-component :content="'Course Overview'" />
  <form @submit.prevent="createCourse">
    <header class="py-5 background">
      <span id="headerTitle"> Create New Course </span>
      <div id="buttonContainer">
        <button class="btn btn-outline-success btn-block" type="submit">
          Create Course
        </button>
      </div>
    </header>
    <div id="parentView">
      <div id="mainView">
        <div class="form-group">
          <label for="title">Title of the course</label>
          <input
            type="text"
            class="form-control"
            id="titleInput"
            aria-describedby="emailHelp"
            placeholder="Title"
            v-model="course.title"
            required
          />
        </div>
      </div>
    </div>
  </form>
</template>

<script>
import HistoryBackComponent from "../../../components/workflows/HistoryBackComponent.vue";
import axios from "axios";

export default {
  components: { HistoryBackComponent },
  name: "CourseCreation",
  setup() {
    //setup basic course object with default values. The author gets set at server-side.
    const course = {
      title: "",
      author: null,
      year: null,
      keywords: [],
      prerequisites: [],
      difficulty: "Intermediate",
      duration: null,
      language: "English",
      description: null,
      chapters: [
        {
          name: "",
          documents: [],
          courses: [],
        },
      ],
    };

    const message = "Create blank course";
    const individualize = false;
    return {
      course,
      individualize,
      message,
    };
  },
  methods: {
    individualized() {
      this.individualize = !this.individualize;
      if (this.individualize) {
        this.message = "Create individualized course";
      } else {
        this.message = "Create blank course";
      }
      this.$forceUpdate();
    },
    addKeyword(value) {
      this.course.keywords.push(value);
    },
    removeKeyword(value) {
      var index = this.course.keywords.indexOf(value);
      if (index !== -1) {
        this.course.keywords.splice(index, 1);
      }
    },
    createCourse() {
      let apiURL = window.serverUrl + "/api/course/create-course";
      axios
        .post(apiURL, this.course)
        .then(() => {
          //If the course was successfully inserted at the server, the user gets redirected to the overview page.
          this.$router.push("/");
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>


<style scoped>
#cards {
  display: flex;
  justify-content: center;
}

#title {
  font-family: "Times New Roman", Times, serif;
  font-size: xx-large;
}
</style>
