<template>
<!-- Within this view the navigation bar at the top of the views is implemented. Therefore the menu bar of 
ElementUI was used and directly uses the paths of the vue-router. -->
  <div id="app">
    <el-menu mode="horizontal" id="nav_bar" :default-active="$route.path" router>
      <el-menu-item index="4" :route="{path:'/'}">
        My Courses
      </el-menu-item>
      <el-menu-item index="/documents" :route="{path:'/documents'}">
        Documents
      </el-menu-item>

      <el-submenu index="6" id="nav_user">
        <template v-slot:title id="nav_user"> {{ username }}</template>
       <el-menu-item index="2-1" :route="{path:'/profile'}">
          <span class="nav_link">Profile</span>
        </el-menu-item>
        <el-menu-item index="2-2" :route="{path:'/faq'}">
          <span class="nav_link">FAQ</span>
        </el-menu-item>
        <el-menu-item index="2-3" @click="logout">
          <span class="nav_link">Logout</span>
        </el-menu-item>
      </el-submenu>
    </el-menu>
    <div class="line"></div>
  </div>
</template>

<script>
export default {
  name: "Navbar",
  setup() {
    const username = "";
    return {
      username,
    };
  },
  methods: {
    logout() {
      //remove the user object.
      sessionStorage.removeItem("user");
      this.$router.push("/login");
    },
    init() {
      //retrieves the username and sets it within the menu item.
      const token = sessionStorage.getItem("user");
      if (token !== null) {
      var parsed = JSON.parse(token);
      this.username = parsed.username;
      }
    },
  },
  created: function () {
    this.init();
  },
};
</script>

<style scoped>
#nav_user {
  float: right;
}

.nav_link {
  text-decoration: none;
}

#nav_bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 1;
}
</style>
