<template>
<!-- Define this component to summarize documents and courses. -->
  <document-component
    :document="asset"
    :edit="edit"
    :searchToAdd="searchToAdd"
    @add="addDocument"
    @delete="deleteDocument"
    v-if="asset.isCourse == false"
  />
  <course-overview-component
    :course="asset"
    :edit="edit"
    :searchToAdd="searchToAdd"
    :searchToEnroll="searchToEnroll"
    @add="addDocument"
    @delete="deleteDocument"
    @enroll="enrollCourse"
    v-if="asset.isCourse"
  />
</template>

<script>
import CourseOverviewComponent from "./CourseOverviewComponent.vue";
import DocumentComponent from "../document/DocumentComponent.vue";

export default {
  components: { DocumentComponent, CourseOverviewComponent },
  emits: ["add", "delete"],
  name: "AssetOverviewComponent",
  props: {
    asset: Object,
    edit: {
      type: Boolean,
      default: false,
    },
    searchToAdd: {
      type: Boolean,
      default: false,
    },
    searchToEnroll: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    addDocument(asset) {
      this.$emit("add", asset);
    },
    deleteDocument(asset) {
      this.$emit("delete", asset);
    },
    enrollCourse(asset) {
      this.$emit("enroll", asset);
    }
  },
};
</script>
