<template>
  <!-- This component was defined to display the course overview with all important fields. -->
  <div>
    <div id="card">
      <div class="card">
        <sup
          ><span class="badge badge-success">
            <div
              class="btn-toolbar"
              role="toolbar"
              aria-label="Toolbar with button groups"
            >
              <div class="btn-group mr-2" role="group" aria-label="First group">
                <router-link
                  :to="{ name: 'course', params: { courseId: course._id } }"
                  class="nav_link"
                >
                  <button type="button" class="btn-sm btn-primary">View</button>
                </router-link>
                <!-- Depending on the mode show specific buttons -->
                <button
                  v-if="searchToAdd"
                  class="btn-sm btn-success"
                  type="button"
                  id="deleteButton"
                  @click="addCourse(course)"
                >
                  Add
                </button>
                <button
                  v-if="searchToEnroll"
                  class="btn-sm btn-primary"
                  type="button"
                  id="deleteButton"
                  @click="enrollCourse(course)"
                >
                  Enroll
                </button>
                <button
                  v-if="edit"
                  class="btn-sm btn-danger"
                  type="button"
                  id="deleteButton"
                  @click="deleteCourse(course)"
                >
                  Remove
                </button>
              </div>
            </div></span
          ></sup
        >

        <article id="documentCard">
          <div id="header">
            <font-awesome-icon icon="folder-open" size="3x" />
            <div id="titleAuthor">
              <span id="title">
                <!-- only show the first 35 characters of the title -->
                <div v-if="course.title.length < 35">{{ course.title }}</div>
                <div v-else>{{ course.title.substring(0, 35) + ".." }}</div>
              </span>
              <div id="authorYear">{{ authorYear }}</div>
            </div>
            <div id="tags">
              <div id="keywords">
                <!-- show all keywords with a KeywordTagComponent -->
                <keyword-tag-component
                  v-for="keyword in course.keywords"
                  :content="keyword"
                  :key="keyword"
                />
              </div>
              <div id="requirements">
                <requirement-tag-component
                  v-for="prerequisite in course.prerequisites"
                  :content="prerequisite"
                  :key="prerequisite"
                />
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</template>

<script>
import KeywordTagComponent from "../KeywordTagComponent.vue";
import RequirementTagComponent from "../RequirementTagComponent.vue";
export default {
  name: "CourseOverviewComponent",
  components: { KeywordTagComponent, RequirementTagComponent },

  props: {
    //default course object
    course: {
      _id: String,
      title: String,
      author: String,
      year: String,
      description: [],
      keywords: [],
    },
    edit: {
      type: Boolean,
      default: false,
    },
    searchToAdd: {
      type: Boolean,
      default: false,
    },
    searchToEnroll: {
      type: Boolean,
      default: false,
    },
  },
  setup() {
    const authorYear = "";

    return {
      authorYear,
    };
  },
  methods: {
    addCourse(course) {
      this.$parent.$emit("add", course);
    },
    deleteCourse(course) {
      this.$parent.$emit("delete", course);
    },
    enrollCourse(course) {
      this.$emit("enroll", course);
    },
  },
  created: function () {
    var author = this.course.author;
    var year = this.course.year;
    if (author !== null && year !== null) {
      this.authorYear = author + " - " + year;
    } else if (author !== null && year === null) {
      this.authorYear = author;
    } else if (author === null && year !== null) {
      this.authorYear = year;
    }
  },
};
</script>

<style scoped>
.nav_link {
  text-decoration: none;
}

#authorYear {
  font-size: small;
  color: grey;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

#keywords {
  margin-left: 5px;
}
#titleAuthor {
  margin-left: 1.5%;
}
#header {
  display: flex;
}

.nav_link {
  text-decoration: none;
  color: black;
}

#title {
  font-weight: bold;
  font-size: large;
}

#description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 1%;
}

#documentCard {
  display: inline;
  text-align: left;
  margin: 3%;
}

#card {
  margin-top: 1%;
}

#deleteButton {
  margin-left: 1%;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.includer {
  position: relative;
}

.badge.badge-success {
  /* background-color: #4487d4ad;
  border-radius: 5px; */
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: medium;
  margin: 0px;
}

#requirements {
  margin-top: 2%;
  margin-left: 5px;
}
</style>
