<template>
<!-- Component to show the metadata of a course. -->
    <div id="courseDescription" class="card">
        <div>
        Author: {{course.author}}
        </div>
        <div>
        Year: {{course.year}}
        </div>
         <div>
        Keywords: {{course.keywords}}
        </div> 
        <div>
        Prerequisites: {{course.prerequisites}}
        </div>
        <div>
        Language: {{course.language}}
        </div>
        <div>
        Difficulty: {{course.difficulty}}
        </div>
        <div>
        Duration: {{course.duration}}
        </div>
        <div>
        Description: {{course.description}}
        </div>
    </div>
</template>

<script>
export default {
  name: "CourseDescriptionComponent",
  props: {
    course: Object,
  },
};
</script>

<style scoped>
#courseDescription {
  width: 18%;
  margin: 0.5%;
align-content: start;
}
</style>

