<template>
  <!-- Simple UI component to style the keywords. -->
  <div id="content" class="card">
    <div id="questStyle">{{ question }}</div>

    <div>{{ answer }}</div>
  </div>
</template>

<script>
export default {
  name: "FaqComponent",
  props: {
    question: String,
    answer: String,
  },
};
</script>

<style scoped>
#content {
  border-radius: 5px;
  background: rgba(68, 135, 212, 0.4);
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 5px;
  margin-bottom: 1%;
}

#questStyle {
  font-weight: bold;
}
</style>
