<template>
 <!-- This component is designed for the back navigation in the application and makes use of the router.go()
 functionality. Different props can be passed to change the behaviour, but default values are already set. -->

 <!-- 
   show: do not show the back navigation on login view or overview page
   fixes: show the bar at a fixed position instead of the flex positioning. (fixed for banners)
   content: define the text, default: "Back" -->
  <span v-if="show">
    <span
      type="button"
      @click="hasHistory() ? $router.go(-1) : $router.push('/')"
      class="my-5 fixed backLink"
      v-if="fixed"
    >
      <span> &laquo; Back </span> <span v-if="content"> to {{ content }}</span>
    </span>

    <span
      type="button"
      @click="hasHistory() ? $router.go(-1) : $router.push('/')"
      class="my-5 backLink"
      v-if="!fixed"
    >
      <span> &laquo; Back </span> <span v-if="content"> to {{ content }}</span>
    </span>
  </span>
</template>

<script>
export default {
  name: "HistoryBackComponent",
  props: {
    content: String,
    fixed: {
      type: Boolean,
      default: true,
    },
  },
  methods: {
    hasHistory() {
      return window.history.length > 2;
    },
  },
  computed: {
    show() {
      var currentPath = this.$route.path;
      if (currentPath === "/" || currentPath === "/login") {
        return false;
      }
      return true;
    },
  },
};
</script>

<style scoped>

.fixed {
    position: fixed;
    margin-top: 1%!important;
    margin-left: 1%;
    position: absolute;
}

.backLink {
    text-decoration: underline;
    margin: 1% !important;
}
</style>
