<template>
 <!-- Simple UI component to style the keywords. -->
  <span id="content">
    {{ content }}
  </span>
</template>

<script>
export default {
  name: "KeywordTagComponent",
  props: {
    content: String,
  },
};
</script>

<style scoped>

#content {
     border-radius: 20px;
  background: #4487d4ad;
  padding: 2px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 5px;
  white-space: nowrap;
}

</style>
