<template>
 <!-- Simple UI component to style the prerequisistes. -->
  <span id="content">
    {{ content }}
  </span>
</template>

<script>
export default {
  name: "RequirementTagComponent",
  props: {
    content: String,
  },
};
</script>

<style scoped>

#content {
     border-radius: 15px;
  background: #7a70705b;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
  white-space: nowrap;
  font-size: small;
}

</style>
