<template>
<!-- This component was added to summarize the actions, which are required to use the tag input, which is required in 
different views. Tags can be added and removed and a flag is afterwards emitted to the parent, which is handled in the
corresponing parent views/components.-->
  <tags-input
    element-id="tags"
    :placeholder="text"
    :existing-tags="existingTagsKey"
    :typeahead="true"
    @tag-added="onTagAdded"
    @change="onChange"
    @tag-removed="onTagRemoved"
    :only-existing-tags="onlyExisting"
  ></tags-input>
</template>

<script>
import axios from "axios";
import VoerroTagsInput from "@voerro/vue-tagsinput";

export default {
  name: "TagEditComponent",
  components: {
    "tags-input": VoerroTagsInput,
  },
  props: {
    onlyExisting: {
      type: Boolean,
      default: false,
    },
    text: {
      type:String,
      default: "Add keywords...",
    }
  },
  setup() {
    const tagSearch = "";
    const existingTagsKey = [];

    return {
      tagSearch,
      existingTagsKey,
    };
  },
  methods: {
    onTagAdded(slug) {
      this.$emit("addTag", slug.value);
    },
    onTagRemoved(slug) {
      this.$emit("removeTag", slug.value);
    },
    onChange(term) {
      if (term.length > 2) {
        this.searchTag(term);
      }
    },
    //the live search is implemented here, after three character inputs a search is performed and the results set
    searchTag(term) {
      let apiURL = window.serverUrl + "/api/document/search-tag?query=" + term;
      axios
        .get(apiURL)
        .then((res) => {
          this.existingTagsKey = res.data;
          this.$forceUpdate();
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style scoped>
@import "https://cdn.jsdelivr.net/npm/@voerro/vue-tagsinput@2.7.1/dist/style.css";
</style>
