<template>
<!-- Defines the structure of components in the whole application. Starting with a navbar and afterwards the router-view specifies the view of the current
 route. -->
  <div id="wholeView">
    <!-- Always include the navbar, except for the login page -->
    <Navbar v-if='this.$route.path !== "/login"'/>
    <div id="userView">
      <!-- Beside the navbar, always display here the routed page -->
      <router-view />
    </div>
  </div>
</template>

<script>
import Navbar from "./components/NavbarComponent.vue";

export default {
  name: "App",
  components: {
    Navbar,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: -5px;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background: #ffffff;
}

#userView {
  margin-top: 60px;
}
</style>
