#headerTitle {
    font-size: xx-large;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight: bold;
    justify-content: center;
    display: flex;
}

#buttonContainer {
    align-items: center;
    justify-content: center;
    display: flex;
}

.background {
    background: no-repeat center center scroll;
    background: rgb(174, 238, 197);
    background: radial-gradient( circle, rgba(174, 238, 197, 1) 0%, rgba(109, 160, 221, 1) 100%);
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#uploadForm {
    width: 60%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 1%;
}

#mainView {
    width: 60%;
    justify-content: flex-start;
}

#parentView {
    margin: auto;
    margin: 0px;
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
}