<template>
<!-- This component is used to represent a comment. This comment is part of a list of comments, which are assigned to a question in a discussion board. -->
  <div>
    <div id="card">
      <div class="card">
        <article id="documentCard">
          <div id="header">
            <div id="titleAuthor">
              <!-- show text if comment not deleted -->
              <span v-if="!comment.deleted">
                {{ comment.text }}
              </span>
              <!-- show default deleted message -->
              <span v-if="comment.deleted" class="text-muted">
                This message was deleted.
                </span>
              <div id="authorYear">
                <span> {{ comment.author }} - {{ dateFormatted }} </span>
                <span>
                  <button
                    class="btn btn-secondary"
                    id="deleteButton"
                    @click="deleteComment"
                    v-if="allowedToDelete"
                  >
                    <font-awesome-icon icon="trash" />
                  </button>
                </span>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "QuestionComponent",
  props: {
    comment: {
      text: String,
      author: String,
      createdAt: Date,
      deleted: Boolean,
    },
  },
  computed: {
    //format date into german format
    dateFormatted() {
      var formatted = new Date(this.comment.updatedAt).toLocaleString("de-DE", {
        timeZone: "Europe/Berlin",
      });
      return formatted;
    },
    //checks if the user is allowed to delete the button, otherwise the button is not displayed. Another security check is made on server-side
    allowedToDelete() {
      const token = sessionStorage.getItem("user");
      if (token !== null) {
        var parsed = JSON.parse(token);
        var username = parsed.username;
        var role = parsed.roles[0];
        if (
          (username === this.comment.author || role === "admin") && !this.comment.deleted) {
          return true;
        }
      }
      return false;
    }
  },
  setup() {
    return {};
  },
  methods: {
    deleteComment() {
      let apiURL =
        window.serverUrl + "/api/discussion/delete-comment?commentId=" +
        this.comment._id;
      axios
        .delete(apiURL)
        .catch((error) => {
          console.log(error);
        })
        .then(() => {
          this.$emit("update");
        });
    },
  },
};
</script>

<style scoped>
#titleAuthor {
  margin-left: 1.5%;
}
#header {
  display: flex;
}

.nav_link {
  text-decoration: none;
}

#title {
  font-weight: bold;
  font-size: large;
}

#description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 1%;
}

.card {
  background-color: #c1d7f1;
  margin-left: 10%;
}

#documentCard {
  max-height: 100px;
  display: inline;
  text-align: left;
  margin: 3%;
}

#authorYear {
  font-size: small;
  color: rgb(70, 66, 66);
}

#card {
  margin-top: 1%;
}

.includer {
  position: relative;
}

.badge.badge-success {
  background-color: #4487d4ad;
  border-radius: 5px;
  position: absolute;
  top: 6px;
  right: 0px;
  font-size: medium;
}

#requirements {
  margin-top: 2%;
  margin-left: 5px;
}

#deleteButton {
  /* height: 40px;
  width: 40px; */
  transform: scale(0.7);
  margin: 0px;
}
</style>
