<template>
<!-- Summarizes a collection of discussions which furthermore include an array of comments. Each course and document
has one discussion board. The discussions are retrieved when the component is created. -->
  <div class="card" id="discussionContainer">
    <div class="lead">Open discussions</div>
    <div>
      <form @submit.prevent="createDiscussion">
        <div class="input-group" id="createQuestion">
          <input
            type="text"
            class="form-control rounded"
            placeholder="Start discussion"
            aria-label="Create"
            v-model="newQuestion"
            maxlength="150"
          />
          <button type="submit" class="btn btn-outline-primary">Create</button>
        </div>
      </form>
    </div>
    <div id="discussions">
      <!-- If a question gets updated, the new discussion object is retrieved from the server. -->
      <question-component
        v-for="question in questions"
        :key="question._id"
        :discussion="question"
        @update="getDiscussions"
        :apiId="apiId"
      />
    </div>
    <div class="lead">Closed discussions</div>
    <div id="discussions">
      <question-component
        v-for="question in closedQuestions"
        :key="question._id"
        :discussion="question"
      />
    </div>
  </div>
</template>

<script>
import axios from "axios";
import QuestionComponent from "./QuestionComponent.vue";

export default {
  components: { QuestionComponent },
  name: "DiscussionBoard",
  props: {
    isCourse: Boolean,
    identifier: String,
  },
  setup() {
    return {
      newQuestion: "",
      questions: [],
      closedQuestions: [],
      apiId: "",
    };
  },
  methods: {
    createDiscussion() {
      var discussion = {
        question: this.newQuestion,
        comments: [],
      };
      let apiURL =
        window.serverUrl + "/api/discussion/create?" +
        this.apiId +
        "=" +
        this.identifier;
      axios
        .post(apiURL, discussion)
        .catch((error) => {
          console.log(error);
        })
        .then(() => {
          this.newQuestion = "";
          this.getDiscussions();
        });
    },
    getDiscussions() {
      let apiURL =
        window.serverUrl + "/api/discussion/get?" +
        this.apiId +
        "=" +
        this.identifier;
      axios
        .get(apiURL)
        .catch((error) => {
          console.log(error);
        })
        .then((response) => {
          this.questions = response.data.opened;
          this.closedQuestions = response.data.closed;
          this.$forceUpdate();
        });
    },
    setId() {
      if (this.isCourse) {
        this.apiId = "courseId";
      } else {
        this.apiId = "documentId";
      }
    },
  },
  created: function () {
    this.setId();
    this.getDiscussions();
  },
};
</script>

<style scoped>
#discussionContainer {
  margin: 0.5%;
  padding-top: 1%;
  overflow-y: auto;
  overflow: auto;
}

#createQuestion {
  margin-bottom: 4%;
  margin-top: 2%;
}

#discussions {
  
  max-height: 80vh;
}
</style>
