<template>
<!-- One Question summarizes the headline of a question and provides the container for comments. -->
  <div id="discussion">
    <div id="card">
      <div class="card" @click="expandQuestion()">
        <article id="documentCard">
          <div id="header">
            <div id="titleAuthor">
              <span id="title">
                <div v-if="discussion.question.length < 80">
                  {{ discussion.question }}
                </div>
                <div v-else>
                  {{ discussion.question.substring(0, 80) + ".." }}
                </div>
                <!-- {{ document.title }} -->
              </span>
              <div id="authorYear">
                <span> {{ discussion.author }} - {{ dateFormatted }} </span>
                <span>
                  <button
                    class="btn btn-secondary"
                    id="deleteButton"
                    @click="closeDiscussion"
                    v-if="allowedToDelete"
                  >
                    <font-awesome-icon icon="lock" />
                  </button>
                </span>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div v-if="expanded" id="comments">
      <comment-component
        v-for="comment in comments"
        :key="comment._id"
        :comment="comment"
        @update="getComments"
      />
      <form @submit.prevent="createComment">
        <div class="input-group" id="createComment">
          <input
            type="text"
            class="form-control rounded"
            placeholder="Comment..."
            aria-label="Post"
            v-model="newComment"
            maxlength="150"
          />
          <button type="submit" class="btn btn-outline-primary">Post</button>
        </div>
      </form>
    </div>
    <div v-if="!expanded" id="padding" />
  </div>
</template>

<script>
import axios from "axios";
import CommentComponent from "./CommentComponent.vue";

export default {
  components: { CommentComponent },
  name: "QuestionComponent",
  props: {
    discussion: {
      question: String,
      author: String,
      createdAt: Date,
    },
  },
  computed: {
    //format date into german format
    dateFormatted() {
      var formatted = new Date(this.discussion.createdAt).toLocaleString(
        "de-DE",
        { timeZone: "Europe/Berlin" }
      );
      return formatted;
    },
    //only show delete button, if the user is also the creator
    allowedToDelete() {
      const token = sessionStorage.getItem("user");
      if (token !== null) {
        var parsed = JSON.parse(token);
        var username = parsed.username;
        var role = parsed.roles[0];
        if (
          (username === this.discussion.author || role === "admin") &&
          this.discussion.open
        ) {
          return true;
        }
      }
      return false;
    },
  },
  setup() {
    return {
      expanded: false,
      newComment: "",
      comments: [],
    };
  },
  methods: {
    expandQuestion() {
      this.expanded = !this.expanded;
      if (this.expanded) {
        this.getComments();
      }
      this.$forceUpdate();
    },
    createComment() {
      var comment = {
        text: this.newComment,
      };
      let apiURL =
        window.serverUrl +
        "/api/discussion/create-comment?discussionId=" +
        this.discussion._id;
      axios
        .post(apiURL, comment)
        .catch((error) => {
          console.log(error);
        })
        .then(() => {
          this.newComment = "";
          this.getComments();
        });
    },
    getComments() {
      let apiURL =
        window.serverUrl +
        "/api/discussion/get-comments?discussionId=" +
        this.discussion._id;
      axios
        .get(apiURL)
        .catch((error) => {
          console.log(error);
        })
        .then((response) => {
          this.comments = response.data;
          this.$forceUpdate();
        });
    },
    closeDiscussion() {
      let apiURL =
        window.serverUrl +
        "/api/discussion/close?discussionId=" +
        this.discussion._id;
      axios
        .post(apiURL)
        .catch((error) => {
          console.log(error);
        })
        .then(() => {
          this.$emit("update");
        });
    },
  },
};
</script>

<style scoped>
#keywords {
  margin-left: 5px;
  /* overflow-x: auto;
  overflow-y: hidden; */
}
#titleAuthor {
  margin-left: 1.5%;
}
#header {
  display: flex;
}

.nav_link {
  text-decoration: none;
}

#title {
  font-weight: bold;
  font-size: large;
}

#description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 1%;
}

#comments {
  margin-bottom: 10%;
}

.card {
  background-color: #4487d4ad;
}

#documentCard {
  max-height: 100px;
  display: inline;
  text-align: left;
  margin: 3%;
}

#authorYear {
  font-size: small;
  color: rgb(70, 66, 66);
}

#deleteButton {
  margin-left: 1%;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

#discussions {
  margin-bottom: 4%;
}

#createComment {
  margin-top: 1%;
}

#padding {
  margin-bottom: 4%;
}

#deleteButton {
  /* height: 40px;
  width: 40px; */
  transform: scale(0.7);
  margin: 0px;
}
</style>
