<template>
  <!-- Describes the overview page of a user.
The banner is a design component, which was set in several views and should describe the current page. 
Important buttons of the view are set here as well. -->
  <history-back-component />
  <header class="py-5 background">
    <span id="headerTitle"> Frequently Asked Questions </span>
  </header>
  <div class="courseOverview">
    <div id="uploadForm">
      <faq-component
        :question="'How can I enroll to new courses?'"
        :answer="'Use the search bar at the overview entry page to find new courses and click enroll.'"
      />
      <faq-component
        :question="'How can I learn the content, when I have found a course?'"
        :answer="'When you view a course and the course is filled with learning assets, you will see a collection of courses and documents in the middle of the course page. Each element can further be viewed. Courses open their own course page and documents can be downloaded or viewed directly in the application.'"
      />
      <faq-component
        :question="'How can I find specific documents within the document base?'"
        :answer="'Navigate to Documents within the navigation bar. There you will find a search bar, where documents can be searched by title, author or keywords.'"
      />
      <faq-component
        :question="'How can I upload new documents?'"
        :answer="'Within the Documents menu click the Upload Document button. There you will have to specify some necessary marked fields. Keywords and prerequisites can be searched by typing in three characters. The more fields are specified the more accurate a document can be described. The last element is a file chooser, where you simply can select the document file, which should be uploaded.'"
      />
      <faq-component
        :question="'How can I edit courses?'"
        :answer="'If you are the course creator or an administrator a edit course button will be shown within the course. The text fields will transform to edit fields and a search bar appears to search for new learning assets, which can be added to the system.'"
      />
      <faq-component
        :question="'What is this proposed individualized content feature?'"
        :answer="'By defining some keywords, the system will propose you some learning assets by evaluating your keywords.'"
      />
      <faq-component
        :question="'Who can see my uploaded content?'"
        :answer="'Due to the open design of this application, collaboration is encouraged and also all documents and courses are available and accessible to all other users. Therefore, you also have the chance to reuse some courses within your learning path.'"/>
    </div>
  </div>
</template>

<script>
import FaqComponent from "../components/workflows/FaqComponent.vue";
import HistoryBackComponent from "../components/workflows/HistoryBackComponent.vue";

export default {
  components: { HistoryBackComponent, FaqComponent },
  name: "Faq",
  setup() {},
  methods: {},
};
</script>

<style scoped>
.courseOverview {
  float: left;
  margin: 0px;
  width: 95%;
}
</style>