<template>
<!-- Describes the overview page of a user.
The banner is a design component, which was set in several views and should describe the current page. 
Important buttons of the view are set here as well. -->
  <header class="py-5 background">
    <span id="headerTitle"> My Courses </span>
    <div id="buttonContainer">
      <router-link to="/courseCreation">
        <button class="btn btn-outline-success btn-block">Create Course</button>
      </router-link>
    </div>
  </header>
  <div class="courseOverview">
    <div>
      <div id="uploadForm">
        <!-- A form was used to perform the search. The clear button resets the results. -->
        <form @submit.prevent="searchCourses">
          <div class="input-group">
            <input
              type="search"
              class="form-control rounded"
              placeholder="Search for new courses..."
              aria-label="Search"
              aria-describedby="search-addon"
              v-model="search.query"
            />
            <button type="button" class="btn btn-outline-danger" @click="clear">
              clear
            </button>
            <button type="submit" class="btn btn-outline-primary">
              search
            </button>
          </div>
          <small v-html="result" class="form-text text-muted"></small>
        </form>
        <!-- All courses are displayed here as CourseOverviewComponents, when they are received from the server.
        Furthermore, if the enroll button is pressed the according @enroll gets executed and invokes the enroll
        call to the server. -->
        <course-overview-component
          v-for="course in courseAdd"
          :key="course._id"
          :course="course"
          :searchToEnroll="true"
          @enroll="enrollCourse"
        />
      </div>

      <hr />
    </div>
    <div id="uploadForm">
      <course-overview-component
        v-for="course in courses"
        :key="course._id"
        :course="course"
        id="courses"
      />
    </div>
  </div>
</template>

<script>
import CourseOverviewComponent from "../components/workflows/course/CourseOverviewComponent.vue";
import axios from "axios";

export default {
  components: { CourseOverviewComponent },
  name: "Home",
  setup() {
    const courses = [];
    const search = {
      query: "",
    };
    return {
      courses,
      courseAdd: [],
      result: "",
      search,
    };
  },
  methods: {
    /* The following method shows the basic calls, which are required for server communication.
    For the communication axios is used and requires the HTTP method and the URL of the REST resource.
    Furthermore within then() the actions can be specified, which are performed, after a result is received.
    Catch() is used to handle possible errors. A basic error handling for all errors was implemented within the
    main.js file, showing an alert with the error message.
    */
    getCourses() {
      let apiURL = window.serverUrl + "/api/course/overview";
      axios
        .get(
          apiURL
        )
        .then((res) => {
          this.courses = res.data;
          this.$forceUpdate();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    searchCourses() {
      let apiURL = window.serverUrl + "/api/course/search";
      axios
        .post(apiURL, this.search)
        .then((res) => {
          this.courseAdd = res.data;
          this.result =
            "Search performed with query '" +
            this.search.query +
            "' and returned " +
            this.courseAdd.length +
            " results.";
          this.$forceUpdate();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    enrollCourse(value) {
      if (!this.courses.includes(value)) {
        this.courses = this.courses.concat(value);
        this.$forceUpdate();
        let apiURL = window.serverUrl + "/api/course/enroll";
        axios.post(apiURL, value).catch((error) => {
          console.log(error);
        });
      }
    },
    clear() {
      this.courseAdd = [];
      this.search.query = "";
      this.result = "";
      this.$forceUpdate();
    },
  },
  created: function () {
    this.getCourses();
  },
};
</script>

<style scoped>
.courseOverview {
  float: left;
  margin: 0px;
  width: 100%;
}
</style>