<template>
  <!-- Describes the overview page of a user.
The banner is a design component, which was set in several views and should describe the current page. 
Important buttons of the view are set here as well. -->
  <history-back-component />
  <header class="py-5 background">
    <span id="headerTitle">Profile Settings</span>
    <div id="buttonContainer">
      <form @submit.prevent="updateProfile">
        <button class="btn btn-outline-success btn-block" type="submit">
          Save
        </button>
      </form>
    </div>
  </header>
  <div id="uploadForm">
    <div class="form-group uploadInput">
      <label for="title">University</label>
      <input
        type="text"
        class="form-control"
        id="titleInput"
        aria-describedby="emailHelp"
        placeholder="Specify your university"
        v-model="settings.university"
      />
    </div>
  </div>
</template>

<script>
import HistoryBackComponent from "../components/workflows/HistoryBackComponent.vue";
import axios from "axios";

export default {
  components: { HistoryBackComponent },
  name: "Profile",
  setup() {
    return {
      settings: {
        university: "",
      },
    };
  },
  methods: {
    updateProfile() {
      let apiURL = window.serverUrl + "/api/general/update-settings";
      const token = sessionStorage.getItem("user");
      if (token !== null) {
        var parsed = JSON.parse(token);
        parsed.settings = this.settings;
        sessionStorage.setItem("user", JSON.stringify(parsed));
      }
      axios
        .post(apiURL, this.settings)
        .then(() => {
          //   this.$router.push("/");
        })
        .catch((error) => {
          console.log(error);
        });
    },
    init() {
      //retrieves the username and sets it within the menu item.
      const token = sessionStorage.getItem("user");
      if (token !== null) {
        var parsed = JSON.parse(token);
        this.settings = parsed.settings;
      }
    },
  },
  created: function () {
    this.init();
  },
};
</script>

<style scoped>
.courseOverview {
  float: left;
  margin: 0px;
  width: 95%;
}
</style>